.catalogue-strip {
    @apply h-48;
    div.card {
        flex: 0 0 12rem;
        @apply h-48;
    }
}

.hide-scroll-bar, body, .overflow-y-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar, body::-webkit-scrollbar, .overflow-y-scroll::-webkit-scrollbar {
    display: none;
  }