form {

}

.form-wrapper {
    @apply relative;

    button {
        @apply absolute right-0 top-0 pr-4 h-full flex items-center;
    }
}

.input-wrapper {
    @apply relative border border-black;
    label {
        @apply absolute left-0 top-0 cursor-pointer p-4 md:text-6xl;
    }
}

.form-wrapper:hover {
    @apply bg-black text-white;
    input, button, input::placeholder {
        @apply bg-black text-white;
    }
}

input {
    @apply md:text-3xl  outline-none w-full  p-4;
}

button[type="submit"] {
    @apply md:text-3xl;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    color: #000 !important;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 500000s ease-in-out 0s;
}