.jing-logo {
    width: 62px;
    @screen md {
        width: 78px;
    }
}

header {
    nav.main-nav {
        a:hover, a[aria-current="page"] {
            border-bottom:1px solid #000;
        }
    }
}