.jing-logo {
    width: 62px;
    margin-top: -2px;
    @screen md {
        width: 78px;
    }
}

.list-nav {
    a, button {
        border-bottom: 1px solid transparent !important;
    }
    a:hover, a[aria-current="page"], button:hover {
        border-bottom:1px solid #000 !important;
    }
}

header[data-visible="false"]{
    @apply -translate-y-full;
}