.post-card[data-size="small"] {
    @apply aspect-w-12 aspect-h-12 border border-black;
}

.reading-grid {

}

.post-card {
    @apply hover:bg-black hover:text-white;
    &:hover {
        img {
            mix-blend-mode: hard-light;
        }
    }
}

.reading-grid {
    
    @screen lg {
        @apply grid;
        grid-template-columns: repeat( 4, 1fr );
    }
}

.reading-grid article {
    @apply mb-8;
    
    @screen lg {
        @apply mb-0;
        grid-column: span 2;
    }
}

.reading-grid article:nth-last-child(1):nth-child(odd) {
    grid-column: 2 / span 2;
}