.rte {

    @apply max-w-6xl mx-auto;

    p + p:not(:last-child) {
        margin-top: 1em;
    }

    //headers
    h2 {
        @apply md:text-xl lg:text-3xl text-left;    
        margin-bottom: 1em;
        @screen lg {
            line-height: 1.25 !important;

        }
    }

    h3 {
        @apply text-center text-3xl lg:text-6xl capitalize my-12 lg:my-16;
    }

    blockquote {
        @apply text-center text-3xl lg:text-6xl my-12 lg:my-32;
    }

    //bold
    strong, b {
        @apply font-normal uppercase;
    }

    a {
        @apply underline;
        text-decoration-thickness: 1px;
        &:hover {
            @apply bg-black text-white no-underline;
        }
    }

    //italic

    //unordered list

    //ordered list


    // wordpress classes
    .wp-caption {
        @apply text-sm text-left;
        margin-top: 6rem !important;
        margin-bottom: 6rem !important;
        @screen md {
            margin-top: 6rem !important;
            margin-bottom: 6rem !important;
        }
        
    }
    .aligncenter {
        @apply mx-auto;
        width: auto !important;
    }
    .size-medium {
        width: 100% !important;
    }
    .size-large {
        @screen md {
            width: 75% !important;
        }
    }
    .wp-caption-text {
        @apply m-0 mt-2;
    }

    img {
        @apply mx-auto;
        width: 100% !important;
    }

    //table
    table {
        td {
            @apply my-4 md:my-12;
        }
    
        tr {
            @apply grid md:grid-flow-col gap-4;
        }
    }

    //border table
    table.border {
        @apply my-12 md:my-24 text-sm md:text-xl;

        td {
            @apply m-0 p-4 align-top;
        }

        tr {
            @apply table-row;
        }
    }
  
}