table {
  @apply border-none font-normal w-full;
  th,
  td {
    @apply font-normal;
  }

  th {
      @apply uppercase;
    // @apply border-t border-black;
    // border-top-width: .5px;
  }

  th,
  td {
    @apply text-left;
    // @apply border-b border-black text-left;
    // border-bottom-width: .5px;
  }
}

// table border
table.border {
  border-collapse: separate;
  &.condensed {
    td {
      padding: .25rem;
      @apply md:p-4;
    }
    
  }
    tr {
        @apply table-row
    }

  }
table.border, table.border th, table.border td {
    border: 1px solid black;
}

// Timeline table
table.timeline {
  @apply mt-24 border-b border-black;

  .wp-caption {
    @apply text-center md:mx-8;
  }

  tr {
    @apply flex flex-col md:table-row;
    td {
      @apply align-top md:w-1/2;
      @screen md {
        &:before {
          content: '';
          @apply mb-8 border-t border-black w-full sticky block;
          top: 68px;
        }
      }
      
      
    }
      td:nth-child(2) {
        // @apply border-r border-black;
        @apply relative pb-4 md:pb-16;
        & > * {
          @apply md:ml-8 md:inline-block;
        }
        @screen md {
          &:after {
            content: '';
            @apply border-r border-black absolute block left-0;
            height: calc(100% - 2rem);
            top: 1rem;
          }
        }
        

      }
    td:first-child {
      // @apply border-r border-black;
      @apply relative;

      h3 {
        @apply sticky text-left md:text-3xl m-0 mb-8;
        top: 80px;
      }
    }
  }
}

// Shop table
#Shop table {

  td {
    @apply pb-2 pt-3 mt-1 px-1 ;
    box-shadow: 0 .5px 0 0 black;
    @screen md {
      box-shadow: none;
      @apply border-b border-black;
    }
  }

  tr:hover {
    td {
      @apply bg-black text-white;
    }
  }
    
thead {
    @apply bg-white sticky h-16 px-1;
    top: 64px;
    box-shadow: 0 -1px 0 0 black; /* Border top */
    @screen md {
      top: 70px;
    }
}

  th:first-child,
  td:first-child {
    @apply md:w-24 md:mr-3 hidden md:table-cell;
  }
  th:last-child,
  td:last-child {
    @apply md:w-20 hidden md:table-cell;
  }
  th:nth-child(3),
  td:nth-child(3) {
      @apply text-right md:text-left;
  }
  th:nth-child(2),
  td:nth-child(2) {
    max-width: calc(100vw - 8rem);
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @screen md {
      @apply w-auto;
    }
  }

  .title {
  }
}
