
body {
    font-family: 'noMono', 'multiplyH1', 'IPAMincho', 'Mincho', "SimSun", "NSimSun", "SimSun-ExtB", "ST FangSong", "ST FangSong 2", "MSMincho", "PMingLiu", simsun, monospace, sans-serif !important;
    @apply md:text-xl;
    
}


@font-face {
    font-family: 'Mincho';
    src: url('/IPAMincho.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'SimSun';
//     src: url('/SimSun.woff2') format('woff2'),
//         url('/SimSun.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }



@font-face {
    font-family: 'multiplyH1';
    src: local("SimSun");
    unicode-range: U+00D7;
    size-adjust: 70%;
}

@font-face {
    font-family: 'noMono';
    src: local("Arial");
    unicode-range: U+0027, U+2019, U+02BC, U+00B4, U+2018, U+201D, U+201C;
}

h1, h2 {
    @apply text-3xl md:text-6xl lg:text-8xl text-center;
    word-spacing: -.025em;
}

s {
    text-decoration-thickness: 1px;
}
 
small {
    @apply text-sm;
    a {
        @apply underline;
        text-decoration-thickness: 1px;
    }
}

path {
    stroke-width: .4px !important;
    @screen md {
        stroke-width: .2px !important;

    }
}

.arrow {
    path {
        stroke-width: .75px !important;
    }
    &:hover {
        fill: #000;
    }
}